main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Ensure the page takes up at least the full height of the viewport */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    margin-top: 100px;
}