main {
  display:flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh; /* Ensure the page takes up at least the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  margin-top: 100px;
}

h2 {
  font-family:monospace;
  font-size: 25px
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  font-family:Arial, Helvetica, sans-serif;
  color:#393636;
  padding-left: 0px;
}

.contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.contact {
  background-color: #f2f2f2;
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
}

 /* Add a background color and some padding around the form */
 .contact-form {
  align-items: center;
  padding: 20px;
}

.info {
  justify-content: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  i {
    margin-right:10px;
  }

.map {
  width: 40%;
  min-width: 300px;
  margin-right: 40px;
}

.map img {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .map {
      width: 100%;
    }
}


li {
  list-style: none;
}