body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes header to the top and footer to the bottom */
    min-height: 100vh; /* Ensure the page takes up at least the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

    background-image: url('assets/images/drone/dusk_angled.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo img {
    width: auto;
    height: 75px;
    transition:all 0.5s ease;
}

.header-solid .logo img {
    width: auto;
    height: 60px;
}

.header-solid {
    /* Styles applied when the header is stuck */
    background-color: rgb(0, 0, 0);
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    padding: 20px; /* Add padding to give some space around the header content */
    align-items: center; /* Align header content to the center vertically */
    justify-content: space-between; /* Evenly space items inside the header */
    display: flex; /* Enable flex layout for header contents */
    color: white;
    transition:all 0.5s ease;
}


footer {
    padding: 20px; /* Add padding to give some space around the footer content */
    background-color: rgba(128, 128, 128, 0.7);
    align-items: flex-end; /* Align footer content to the bottom */
}

.greeting {
    font-family:'Courier New', Courier, monospace;
    color:antiquewhite
}

header nav {
    display: flex; /* Use flexbox to make the links horizontal */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 5px;
}

header nav a {
    margin-right: 5px;
}

header nav a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
    padding: 10px; /* Add padding to create spacing between links */
}

/* Optional: Style hover and active states for the links */
header nav a:hover,
header nav a.active {
    background-color: #555; /* Change background color on hover/active */
}