body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes header to the top and footer to the bottom */
    min-height: 100vh; /* Ensure the page takes up at least the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.logo img {
    width: auto;
    height: 50px;
    transition:all 1s ease;
}

.header-solid .logo img {
    height: 45px;
}

.header-solid {
    /* Styles applied when the header is stuck */
    background-color: rgb(50, 50, 50);
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    align-items: center; /* Align header content to the center vertically */
    justify-content: space-between; /* Evenly space items inside the header */
    display: flex; /* Enable flex layout for header contents */
    color: whitesmoke;
    transition: all 1s, ease;
    width: 100%
}

.header-content {
    padding: 20px;
}


footer {
    background-color: rgb(50, 50, 50);
    color:whitesmoke;
    justify-content: space-between;
    display: flex;
}

footer img {
    width: 100px;
    height: auto;
    padding: 10px;
}

.footer-stack {
    display: flex;
}

.footer-info {
    margin-left: 20px;
    margin-right: 20px;
}

.footer-link {
    padding: 10px;
}

footer i {
    padding-bottom: 30px;
}

header nav {
    display: flex; /* Use flexbox to make the links horizontal */
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 30px;
}

header nav a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
    padding: 10px; /* Add padding to create spacing between links */
    margin-right: 5px;
    transition: background-color 0.5s ease;
}

/* Optional: Style hover and active states for the links */
header nav a:hover,
header nav a.active {
    background-color: #154061; /* Change background color on hover/active */
}

.greeting {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative; /* Ensure the section is the containing block */
    overflow: hidden; /* Hide overflow to clip the background image */
    z-index: 10; /* Ensure it is below the header */
    font-family: 'Courier New', Courier, monospace;
}

.greeting img {
    max-width: 100%; /* Ensure the image scales responsively */
    height: auto;
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    z-index: 5; /* Ensure it is below the header */
    animation: zoom 15s linear;
}

@keyframes zoom {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.vbs-info img {
    width: auto;
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.donation-form {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 40px;
}

@media (max-width: 614px) {
    .donation-form {
        margin-top: 100px;
    }
}

.bulletin-button {
    display: inline-block;
    padding: 40px 80px;
    font-size: 24px;
    background-color: #246ba2;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.bulletin-button:hover {
    background-color: #154061;
}

.employee-section {
    display:flex;
}

.employee-card {
    padding: 20px;
    justify-content: space-between;
    margin: 40px;
    width: 350px;
}

.employee-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bg-fixed {
    background-size: cover; /* Ensures the image covers the container */
    background-attachment: fixed; /* Fixes the background image */
    background-position: center; /* Centers the background image */
}

.bg-communion {
    background-image: url("assets/images/offering_plate_with_flowers.jpg");
}

.bg-rejoice {
    background-image: url("assets/images/rejoice_in_the_lord_with_lantern.jpg");
}

.bg-music {
    background-image: url("assets/images/music_book.jpg");
}

.bg-dusk {
    background-image: url("assets/images/drone/dusk_angled.jpg")
}

.moto {
    position:fixed;
    color:whitesmoke;
    font-size:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure it stays above other content */
}

.moto img {
    width: 300px;
    height: auto;
}

.watch-online-button {
    display: inline-block;
    padding: 25px 70px;
    font-size: 24px;
    background-color: #246ba2;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.watch-online-button:hover {
    background-color: #154061;
}

button[type=submit] {
    background-color: #246ba2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
